*{
  margin: 0;
  padding: 0;
}

body{
  background-color: rgba(115, 124, 252, 0.3);
}

h1{
  text-align: center;
}

img{
  margin-left: 500px;
  margin-top: 20px;
  width: 400px;
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 8px solid rgba(144, 144, 144, .8) ;
}